nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: right;
	padding: 0.25em 0.5em;
	background-color: #fff;
	box-shadow: 0 1 0.25 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin-top: 0;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: #000;
	text-decoration: none;
	margin: 0.25em 1em;
}
